body {
    background-image: url('theatre26.jpg');
    color: #000;
}
body h1 {
    font-size: 90px;
    font-weight: bolder;
}
body p {
    font-size: 30px;
    font-weight: bolder;
}
.firstp {
    width: 500px;
    height: 500px;
}

#singlemovdiv movieitemposter {
    width: 500px;
    height: 500px
}